/* contact */
.contact {
    width: 100%;
    height: 100vh;
    background: #f7f5f2;
    padding-top: 70px;
}

.contact .container {
    width: 100%;
    height: 80vh;
    background: white;
    background: linear-gradient(90deg, white 80%, #007bff 20%);
    border-radius: 10px;
}

.heading6 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 70px;
}

.heading6 span {
    color: cadetblue;;
}

.contact p {
    font-weight: bold;
    font-size: 13px;
    color: black;
}

.contact input {
    width: 360px;
    border: none;
    border-bottom: 1px solid;
}

#contact-btn {
    width: 200px;
    height: 36px;
    border: none;
    background: #007bff;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
}

#col {
    width: 40%;
    height: 56vh;
    background: black;
    margin-top: 78px;
}

.contact h1 {
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}

.contact #col p {
    font-size: 15px;
    color: white;
    margin-left: 13px;
    padding-top: 30px;
}

@media screen and (max-width:766px) {
    .contact .container {
        background: white;
    }

    #col {
        width: 100%;
        background: #b2744c;
    }

    .contact {
        height: 150vh;
    }
}

@media screen and (max-width:400px) {
    .contact input {
        width: 250px;
    }

}

/* fade in animation */
.contact {
    animation: fade-in 1s ease-in-out;
}

.contact .col-md-7 {
    animation: fade-in 1s ease-in-out 0.5s;
}

.contact .col-md-5 img {
    animation: fade-in 1s ease-in-out 1s;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}